PhoneImage/Service References/ImageReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IImageService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IImageService_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IImageService_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IImageService_SetUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUrl" />
  </wsdl:message>
  <wsdl:message name="IImageService_SetUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IImageService_mandavir_InputMessage">
    <wsdl:part name="parameters" element="tns:mandavir" />
  </wsdl:message>
  <wsdl:message name="IImageService_mandavir_OutputMessage">
    <wsdl:part name="parameters" element="tns:mandavirResponse" />
  </wsdl:message>
  <wsdl:portType name="IImageService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/DoWork" message="tns:IImageService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/DoWorkResponse" message="tns:IImageService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/GetImage" message="tns:IImageService_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/GetImageResponse" message="tns:IImageService_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/SetUrl" message="tns:IImageService_SetUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/SetUrlResponse" message="tns:IImageService_SetUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mandavir">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/mandavir" message="tns:IImageService_mandavir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/mandavirResponse" message="tns:IImageService_mandavir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImageEndpoint" type="tns:IImageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IImageService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/IImageService/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUrl">
      <soap:operation soapAction="http://tempuri.org/IImageService/SetUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mandavir">
      <soap:operation soapAction="http://tempuri.org/IImageService/mandavir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageService">
    <wsdl:port name="ImageEndpoint" binding="tns:ImageEndpoint">
      <soap:address location="http://192.168.1.2:8732/Design_Time_Addresses/Server/ImageService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>