PhoneImage/Service References/ImageReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageService_GetHouse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHouse" />
  </wsdl:message>
  <wsdl:message name="IImageService_GetHouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseResponse" />
  </wsdl:message>
  <wsdl:message name="IImageService_SetUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUrl" />
  </wsdl:message>
  <wsdl:message name="IImageService_SetUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IImageService_reset_InputMessage">
    <wsdl:part name="parameters" element="tns:reset" />
  </wsdl:message>
  <wsdl:message name="IImageService_reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetResponse" />
  </wsdl:message>
  <wsdl:message name="IImageService_discard_InputMessage">
    <wsdl:part name="parameters" element="tns:discard" />
  </wsdl:message>
  <wsdl:message name="IImageService_discard_OutputMessage">
    <wsdl:part name="parameters" element="tns:discardResponse" />
  </wsdl:message>
  <wsdl:portType name="IImageService">
    <wsdl:operation name="GetHouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/GetHouse" message="tns:IImageService_GetHouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/GetHouseResponse" message="tns:IImageService_GetHouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/SetUrl" message="tns:IImageService_SetUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/SetUrlResponse" message="tns:IImageService_SetUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/reset" message="tns:IImageService_reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/resetResponse" message="tns:IImageService_reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="discard">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/discard" message="tns:IImageService_discard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/discardResponse" message="tns:IImageService_discard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImageEndpoint" type="tns:IImageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHouse">
      <soap:operation soapAction="http://tempuri.org/IImageService/GetHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUrl">
      <soap:operation soapAction="http://tempuri.org/IImageService/SetUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reset">
      <soap:operation soapAction="http://tempuri.org/IImageService/reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="discard">
      <soap:operation soapAction="http://tempuri.org/IImageService/discard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageService">
    <wsdl:port name="ImageEndpoint" binding="tns:ImageEndpoint">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/CMOVServer/ImageService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>